@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: var(--color-text);
  padding: 18px 24px;
  max-width: 345px;
  color: var(--color-bg);
}

.image {
  margin-bottom: 26px;
  opacity: 1; 
  border-radius: 10px; 
  transition: border-radius 0.3s ease; 
  max-width: 345px; /* Set a fixed width */
  max-height: 345px; /* Set a fixed height */
  object-fit: cover; 
}
.overlay {
  display: flex;
  justify-content: center;
  z-index: 3;
}
.image:hover{
  opacity: 70%;
}

.title {
  font-size: 25px;
  font-weight: 900;
  color: white;
  opacity: 0.9;
}

.description {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
  color: rgba(255, 255, 255, 0.841);
}

.skill {
  font-size: 25px;
  font-weight: 400;
  border-radius: 10px;
  background: rgb(79, 51, 57);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: rgb(54, 35, 39);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
}