@import '../../vars.css';

.container {
    position: relative;
    display:flex;
    align-items: center;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.3);

}
.tree{
  flex: 1.025 1 0;
  z-index: 0;
}
.content {
    flex: 1 3 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;      
}
.fadeIn {
    animation: fadeInAnimation 3s ease forwards; /* Apply fade-in animation */
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0; /* Start with opacity 0 */
    }
    to {
      opacity: 1; /* Fade in to full opacity */
    }
  }
.title {
    font-size: 72px;
    font-weight: 300;
    margin-bottom: 33px;
}

.description {
    font-size: 20px;
    color: rgb(97, 62, 70);
    margin-bottom: 52px;
}

  @media screen and (max-width: 830px) {
    .container {
      flex-direction: column;
    }
    .tree {
      width: 250px;
      height:auto;
    }
    .content {
      align-items: center;
    }
  
  }