.circle {
    fill: rgb(64, 22, 40);
    opacity: 0;
}
.fadeIn {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.drawLine {
    stroke-dasharray: 0;
    animation: drawLine 12s infinite;
}

@keyframes drawLine {
    from { stroke-dasharray: 0; }
    to { stroke-dasharray: 500; } /* Set to 50% to reach the complete state at 6s */
}