@import '../../vars.css';

.container {
    position: relative;
    margin-top: 129px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
    padding: 5%;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.aboutImage {
    width: 35%;

}

.aboutItems {
    color: var(--color-text);
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.aboutItemText{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.aboutItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-size: 0 100%;
}

.aboutItem h3 {
    color: var(--color-text);
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.aboutItem p {
    font-size: 20px;
    color: var(--color-secondary);
    text-align: center;
  }


.aboutItemIcon {
  color: white;
  margin: 15px;
}

.iconDiv{
  background: var(--color-text);
  border-radius: 10%;
  margin-bottom: 1rem;
}
  
  @media screen and (max-width: 830px) {
    .container {
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
      align-items: center;
      padding: 5%;
    }
  
    .content {
      flex-direction: column;
    }
  
    .aboutImage {
      display: none;
    }
  
    .aboutItems {
      margin-top: 29px;
      flex-direction: column;
    }
  
    .aboutItem {
      padding-left: 0;
      padding-right: 0;
    }
  }