@import '../../vars.css';

.container {
    position: relative;
    background-color: transparent;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
  font-size: 30px;
  font-weight: 100;
  text-decoration: none;
  color: var(--color-text);
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutImage {
    width: 35%;

}

.aboutItems {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(
      -45deg,
      rgba(29, 66, 161, 0.462) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}
.aboutItem:hover {
    background-size: 100% 100%;
}
.aboutItem h3 {
    font-size: 25px;
    font-weight: 600;
}

.aboutItem p {
    font-size: 20px;
  }

.aboutItemText {
  margin: 15px;
}
.aboutItemIcon {
  margin: 15px;
}
  
  @media screen and (max-width: 830px) {
    .container {
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
      align-items: center;
    }
  
    .content {
      flex-direction: column;
    }
  
    .aboutImage {
      display: none;
    }
  
    .aboutItems {
      margin-top: 29px;
    }
  
    .aboutItem {
      padding-left: 0;
      padding-right: 0;
    }
  }