/* navbar.module.css */
@import "../../vars.css";

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;
    padding-bottom: 10px;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.3);
}

.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(97, 62, 70);
}

.menu {
    display: flex;
    align-items: center;
}

.menuIcon {
    font-size: 40px; /* Adjust the size as needed */
    cursor: pointer; /* Add a pointer cursor for better UX */
}

