@import "../../vars.css";

.container {
    color: var(--color-text);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
    display:flex;
    flex-direction: column;
    padding: 25px;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.3);
    
}

.title {
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: rgb(54, 35, 39);
  margin-left: 10px;
  margin-top: 15px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 14px;
}

.skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.skillImageContainer {
    background: radial-gradient(circle, rgb(97, 62, 70) 0%, transparent 90%);
    opacity: 100%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
}


.skill p {
    font-size: 25px;
    font-family: var(--font-roboto);
    font-weight: 400;
    color: rgb(74, 48, 54);
  }
  
  
  @media screen and (max-width: 830px) {
    .content {
      flex-direction: column;
      align-items: center;
      gap: 34px;
    }
    .container {
      align-items: center;
    }
  
    .skills {
      width: 100%;
      flex-direction: row;
      justify-content: center;
    }
 
  }