@import "../../vars.css";

.container {
    position: relative;
    color: var(--color-text);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
    display:flex;
    flex-direction: column;
    padding: 25px;
    
}

.title {
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: rgb(54, 35, 39);
  margin-left: 10px;
  margin-top: 15px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

.skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.hidden {
  display: none;
}

.skillImageContainer {
    background: radial-gradient(circle, rgb(97, 62, 70) 0%, transparent 90%);
    opacity: 100%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
}


.skill p {
    font-size: 25px;
    font-weight: 400;
    color: rgb(74, 48, 54);
  }
  
  .arrow{
    position: absolute;
    width: 2rem;
    height: 2rem;
  }

  .arrow:hover{
    cursor: pointer;
  }

  .arrowLeft{
    left: 1rem;
  }

  .arrowRight{
    right: 1rem;
  }

  
  .carousel {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media screen and (max-width: 830px) {
    .carousel{
      width:auto;
    }
  }